<h5 class="card-title"><%= account.server.id %></h5>
<p class="card-text mb-0"><%= "소지금 : #{number_with_delimiter(account.amount, :delimiter => ',')}" %></p>
<p class="card-text"><%= "초기화 : #{account.init_count}" %></p>